<!-- start custom footer snippets -->

<div class="page__footer-follow">
    <ul class="social-icons">
        <li>
            <a href="https://www.flipboard.com/@goyoac" itemprop="sameAs">
                <img src={{ "/assets/images/flipboard_20x20" | absolute_url }} alt="Flipboard" style="width:20px;height:20px;border:0;"> Flipboard
            </a>
        </li>

        <li>
            <a href="https://www.researchgate.net/profile/Gregorio_Ambrosio" itemprop="sameAs">
                <i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i> ResearchGate
            </a>
        </li>

        <li>
            <a href="https://scholar.google.es/citations?user=GyGNWjwAAAAJ" itemprop="sameAs">
                <i class="fa fa-fw fa-google" aria-hidden="true"></i> Google Scholar
            </a>
        </li>

        <li>
            <a href="https://500px.com/goyoambrosio" itemprop="sameAs">
                <i class="fa fa-fw fa-500px" aria-hidden="true"></i> 500px
            </a>
        </li>

        <li>
            <a href="http://ambrosiophoto.com" itemprop="sameAs">
                <i class="fa fa-fw fa-camera" aria-hidden="true"></i> Ambrosio Photography
            </a>
        </li>

        <li>
            <a href="http://goyo-ambrosio.pixels.com/" itemprop="sameAs">
                <i class="fa fa-fw fa-shopping-cart" aria-hidden="true"></i> Buy my photos
            </a>
        </li>
    </ul>
</div>


<div class="page__footer-follow">
    <ul class="social-icons">
        <li>
            <a href="https://www.flipboard.com/@goyoac" itemprop="sameAs">
                <i class="fa fa-fw fa-book" aria-hidden="true"></i> Flipboard
            </a>
        </li>

        <li>
            <a href="https://www.researchgate.net/profile/Gregorio_Ambrosio" itemprop="sameAs">
                <i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i> ResearchGate
            </a>
        </li>

        <li>
            <a href="https://scholar.google.es/citations?user=GyGNWjwAAAAJ" itemprop="sameAs">
                <i class="fa fa-fw fa-google" aria-hidden="true"></i> Google Scholar
            </a>
        </li>

        <li>
            <a href="https://500px.com/goyoambrosio" itemprop="sameAs">
                <i class="fa fa-fw fa-500px" aria-hidden="true"></i> 500px
            </a>
        </li>

        <li>
            <a href="http://ambrosiophoto.com" itemprop="sameAs">
                <i class="fa fa-fw fa-camera" aria-hidden="true"></i> Ambrosio Photography
            </a>
        </li>

        <li>
            <a href="http://goyo-ambrosio.pixels.com/" itemprop="sameAs">
                <i class="fa fa-fw fa-shopping-cart" aria-hidden="true"></i> Buy my photos
            </a>
        </li>
    </ul>
</div>



<!-- end custom footer snippets -->
