<!-- start custom footer snippets -->
<div class="page__footer-follow">
    <a href='https://es.linkedin.com/in/goyoambrosio' target='_blank'>
        <img alt='LinkedIn' height='40' src='http://2.bp.blogspot.com/-kRSVQPsWdRY/VpvNn_f9OjI/AAAAAAAAD4k/ISxgQqPuM_w/s1600/1453072687_social_media_icons_flat_shadow_set_256x256_0010_linkedin.png' title='LinkedIn' witdh='40'/>
    </a>
    <a href='https://flipboard.com/@goyoac' target='_blank'>
        <img alt='Flipboard' height='40' src='http://4.bp.blogspot.com/-dclT6rOmaWI/VpvNm-G_BYI/AAAAAAAAD4Q/j4wiyI17rYA/s400/1453072585_social_media_icons_flat_shadow_set_256x256_0016_flipboard.png' title='Flipboard' witdh='40'/>
    </a>
    <a href='http://twitter.com/gambrosio' target='_blank'>
        <img alt='Twitter' height='40' src='http://1.bp.blogspot.com/-CEVIBKo32vw/VpvNnVE2w3I/AAAAAAAAD4g/siQ7t73eqeo/s400/1453072653_social_media_icons_flat_shadow_set_256x256_0002_twitter.png' title='Twitter' witdh='40'/>
    </a>
    <a href='https://www.facebook.com/goyo.ambrosio' target='_blank'>
        <img alt='Facebook' height='40' src='http://3.bp.blogspot.com/-vII96VocjlY/VpvNm46SqdI/AAAAAAAAD4E/CVhjracwe5Q/s400/1453072640_social_media_icons_flat_shadow_set_256x256_0000_facebook.png' title='Facebook' witdh='40'/>
    </a>
    <a href='https://www.researchgate.net/profile/Gregorio_Ambrosio' target='_blank'>
        <img alt='Research Gate' height='40' src='https://3.bp.blogspot.com/-Z_Lxe9uiy8I/VsDdQbQUtOI/AAAAAAAAFLE/AqhuFsten4k/s1600/research-gate-icon-180x180.png' title='Research Gate' witdh='40'/>
    </a>
    <a href='https://scholar.google.es/citations?user=GyGNWjwAAAAJ' target='_blank'>
        <img alt='Google Scholar' height='40' src='https://2.bp.blogspot.com/-N4PncPcpbtw/VsDlQdEhTgI/AAAAAAAAFLY/djj8hcye8tQ/s1600/google%2Bscholar.png' title='Google Scholar' witdh='40'/>
    </a>
    <a href='http://goyo-ambrosio.pixels.com/' target='_blank'>
        <img alt='Goyo Ambrosio Photography Store' height='40' src='http://3.bp.blogspot.com/-E2b8vHiuHi4/VpvUmRsofAI/AAAAAAAAD64/mam1Nx4EPLo/s400/images.jpg' title='Goyo Ambrosio Photography Store' witdh='40'/>
    </a>
    <a href='https://500px.com/goyoambrosio' target='_blank'>
        <img alt='500px' height='40' src='http://3.bp.blogspot.com/-37fE_g_FiOA/VpvUmTdQ8UI/AAAAAAAAD60/WFUGHJPBmdU/s400/1453073704_500px-16.png' title='500px' witdh='40'/>
    </a>
    <a href='http://www.goyoambrosio.com' target='_blank'>
        <img alt='Goyo Ambrosio Photography' height='40' src='http://2.bp.blogspot.com/-qICzgIs1ohA/VpvUmF3s0jI/AAAAAAAAD68/KzZXSknwnyg/s400/1453073962_device-camera-capture-photo-glyph.png' title='Goyo Ambrosio Photography' witdh='40'/>
    </a>
</div>


<div class="page__footer-follow">
    <ul class="social-icons">
        <li>
            <a href="https://www.flipboard.com/@goyoac" itemprop="sameAs">
                <i class="fa fa-fw fa-book" aria-hidden="true"></i> Flipboard
            </a>
        </li>

        <li>
            <a href="https://www.researchgate.net/profile/Gregorio_Ambrosio" itemprop="sameAs">
                <i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i> ResearchGate
            </a>
        </li>

        <li>
            <a href="https://scholar.google.es/citations?user=GyGNWjwAAAAJ" itemprop="sameAs">
                <i class="fa fa-fw fa-google" aria-hidden="true"></i> Google Scholar
            </a>
        </li>

        <li>
            <a href="https://500px.com/goyoambrosio" itemprop="sameAs">
                <i class="fa fa-fw fa-500px" aria-hidden="true"></i> 500px
            </a>
        </li>

        <li>
            <a href="http://ambrosiophoto.com" itemprop="sameAs">
                <i class="fa fa-fw fa-camera" aria-hidden="true"></i> Ambrosio Photography
            </a>
        </li>

        <li>
            <a href="http://goyo-ambrosio.pixels.com/" itemprop="sameAs">
                <i class="fa fa-fw fa-shopping-cart" aria-hidden="true"></i> Buy my photos
            </a>
        </li>
    </ul>
</div>



<!-- end custom footer snippets -->
