---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/*** BEGIN GOYO ***/
$head-color: #699ea0 !default;
$h1-color: #ffffff !default;

.archive__item-title a {
    color: $head-color;
    text-decoration : none;

    &:hover {
        color: $link-color-hover;
        text-decoration: underline;
    }


}

.page__content a {
    color: $head-color;
    text-decoration : none;

    &:hover {
        color: $link-color-hover;
        text-decoration: underline;
    }

}

h1 {
    color: $h1-color;
}

/***
.highlight pre {
    font-size: $type-size-8;
}
***/

.highlight table {
    margin-bottom: 0;
    font-size: $type-size-8;
    border: 0;

    td {
        padding: 0;
        width: calc(100% - 1em);
        border: 0;

        /* line numbers*/
        &.gutter,
        &.rouge-gutter {
            padding-right: 1em;
            width: 1em;
            color: $base04;
            border-right: 1px solid $base04;
            text-align: right;
        }

        /* code */
        &.code,
        &.rouge-code {
            padding-left: 1em;
        }
    }

    pre {
        margin: 0;
    }
}



/*** END GOYO ***/
